<div class="input">
  <label for=<%= name %>>
    <%= label %>
  </label>

  <p>
    <% if (formErrors && name in formErrors) { %>
      <small class="error">
        <b>Error: </b>
        <%= formErrors[name] %>
      </small>
    <% } %>
  </p>

  <input 
    type=<%= type %> 
    name=<%= name %> 
    id=<%= name %> 
    value="<%= includePrevInput && name in prevForm ? prevForm[name] : '' %>"
  >
</div>